body {
	background: #232323;
}

.square {
	width: 30%;
	margin: 1.66%;
	padding-top: 30%;
	float: left;
	background: blue;
}

#container {
	max-width: 600px;
	margin: 0 auto;
}

h1 {
	color: white;
	text-transform: uppercase;
	text-align: center;
}

#colorDisplay {
	font-size: 2.0em;
}

#stripe {
	background-color: white;
	height: 30px;
	text-align: center;
}